<h3> Create Your Own Blog Post!</h3>
<%= form_with url:"/blogs", local: true do %>

    <label for="title">Title:</label>
    <input id="title" name="blog[title]">
    <label for="content">Content:</label>
    <input id="content" name="blog[content]">

    <input type="submit" value="Create Blog">

    <% end %>